* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    background-color: aliceblue;
    color: #333;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #111827;
    height: 120px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

header .container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: 2.5em;
    color: white;
}

header nav ul {
    list-style: none;
}

header nav ul li {
    display: inline;
    margin-left: 20px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

main {
    width: 80%;
    margin: 40px auto;
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
}

.blog-posts {
    width: 70%;
}

.post {
    background-color: white;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.post-title {
    font-size: 2em;
    color: #333;
}

.post-meta {
    font-size: 0.9em;
    color: #777;
}

.post-content {
    margin: 15px 0;
}

.read-more {
    display: inline-block;
    margin-top: 10px;
    color: #007BFF;
    text-decoration: none;
}

.read-more:hover {
    text-decoration: underline;
}

.sidebar {
    width: 65%;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.sidebar h3 {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 10px;
}

.sidebar ul {
    list-style: none;
}

.sidebar ul li {
    margin-bottom: 10px;
}

.sidebar ul li a {
    text-decoration: none;
    color: #007BFF;
}

.sidebar ul li a:hover {
    text-decoration: underline;
}

footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
}

footer p {
    font-size: 1em;
}

@media (max-width: 768px) {
    main {
        flex-direction: column;
        align-items: center;
    }

    .blog-posts {
        width: 100%;
    }

    .sidebar {
        width: 100%;
        margin-top: 20px;
    }
}

button
{
    height: 40px;
    width: 70px;
    border: none;
    border-radius: 17px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

button:hover
{
    background-color: black;
    color: white;
    cursor: pointer;
}

